@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap');
.box {
    display: block;
      display: flex;
    align-items: center;
    justify-content: center;
  }
body{
    margin: 0;
    padding: 0;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
.nav-bg{
    /* background: linear-gradient(90deg, rgb(247, 247, 249) 0%, rgb(190, 218, 246) 55%, rgb(189, 226, 241) 89%); */
}
.logohd:hover{
    filter:invert(31%)
    sepia(78%)
    saturate(1211%)
    hue-rotate(190deg)
    brightness(107%)
    contrast(106%); 
}
nav{
    height: 11vh;
    width: 100%;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
   
}

nav a {
    letter-spacing: 1.3px;
    color: #797878;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: relative;  
    padding: 0 10px;
    width:max-content;
}
nav a:after {
    content: "";
    position: absolute;
    background-color: blue;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
nav a:hover{
    color: black;
}
nav a:hover:after{
    width: 100%;
}
.button-Contact{
    margin-right: 3rem;
    position: relative;
    border: none;
    background: linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1) 89%);
    border-radius: 10px;
    width: 6rem;
    color: white;
    box-shadow: 2px 2px 2px 2px #8426e8;
}
.button-Contact:hover{
    transform: scale(1.1);
    color: black;
    cursor: pointer;
    background-image: none;
}
.menu-h{
    padding-left: 20rem;
}
.menu-active{
    background-image:linear-gradient(rgba(10, 10, 226, 0.376),rgba(0, 183, 255, 0.434)) ;
    border: none;
    border-radius: 60px 10px;
    -webkit-text-fill-color: #fff;    
}
.menu-active:hover{
    transform: scale(1.1);
}
.socials{
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 4rem;
    align-content: center;
    margin-right: -27px;
    padding-left: 0.1rem;
    position: relative;
    margin-bottom:10rem; 
    margin-left: 3.8rem;
    margin-inline-end: -2rem;
   
}
.socials:hover{
    transform: scale(1.2);
    background-color:#00f7b5;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    cursor: pointer;
}
/*Banner Slider*/
.banner-1{
    width: 100%;
    height: 36.5rem;
    /* background: linear-gradient(90deg, rgb(247, 247, 249) 0%, rgb(190, 218, 246) 55%, rgb(189, 226, 241) 89%); */
    background-color: white;
}
.profile-1{
    width: auto;
    height: 36.5rem;
    padding-left: 28rem;
    position: relative;
}
.motion-1{
    position: absolute;
    margin-left: 40.2rem;
    width: 42rem;
    height: 40.5rem;
}
.heading1{
    font-size: 35px;
    font-family: "Incosolata", Consolas, monospace;
    /* color:#fff; */
    font-weight:bolder;
    padding-left: 4rem;
    padding-top: 12rem;
    position: absolute;
    background: -webkit-linear-gradient(#058afb, #8505fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.typewriter{
    /* position: relative; */
}
.typewriter::after{
    content: '|';
    position: absolute;
    right: 0;
    color: white;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 50%;
    animation: typing 3s alternate infinite,
    line 1s infinite;
}
@keyframes typing{
    to{
        width: 0%;
    }
}
@keyframes line {
    50%{
        color: transparent;
    }
}

.front1{
    font-size: 22px;
    font-family: "Incosolata", Consolas, monospace;

}
span:nth-child(2){
    font-size: 45px;
    font-family: "Incosolata", Consolas, monospace;

    padding-left: 4rem;
    padding-top: 14rem;
    position: absolute;
    background: -webkit-linear-gradient(#fc466b, #3f5efb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-text-stroke:0.2vw #0334fa; */
    /* text-transform: uppercase; */
    
}
.pd-2{
    font-size: 18px;
    padding-left: 4rem;
    padding-top: 21rem;
    position: absolute;
    color:rgb(107, 106, 106); 
}
.button-hire{
    font-size: 18px;
    position: absolute;
    margin-left: -79rem;
    margin-top: 26rem;
    border: none;
    background: linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1) 89%);
    border-radius: 10px;
    width: 6rem;
    color: white;
    box-shadow: 2px 2px 2px 2px #8426e8;
}
.button-hire:hover{
    transform: scale(1.1);
    color: black;
    cursor: pointer;
    background-image: none;
}
.heading2{
    font-size: 38px;
    color:#fff;
    font-weight:bolder;
    padding-left: 4rem;
    padding-top: 10rem;
    position: absolute;
    background: -webkit-linear-gradient(#058afb, #8505fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services{
    margin-top: -3rem;
}
.Services-1{
    font-size: 38px;
    font-weight: 400;
    padding-left: 4rem;
    padding-top: 14rem;
    position: absolute;
    background: -webkit-linear-gradient(#fc466b, #3f5efb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:0.2vw #4903fa;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.myservice{
    position: absolute;   
    margin-top: 5rem; 
    margin-left: -4.5rem;
}
.button-cv{
    font-size: 18px;
    width:9rem;
    margin-left: 4rem;
    margin-top: 18.8rem;
    padding: 2rem, 2rem, 2rem, 2rem;
    border: none;
    background: linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1) 89%);
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 2px 2px #8426e8; 
}
.button-cv:hover{
    transform: scale(1.1);
    color: black;
    cursor: pointer;
    background-image: none;
}
.frame-1{
    background-color: #d3d3d385;
    border-width: 6px;
    border-style: solid;
    border:double 5px transparent;
    background-image: linear-gradient(white, white),
    linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1));
    background-origin: border-box;
    background-clip: content-box,border-box;
    /* border-image: linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1) 89%)10; */
    width: 16rem;
    height: 18rem;
    margin-left: 63rem;
    margin-top: -10rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #8426e8;
}
.pr-1{
    font-size: 16px;
    font-weight:700;
    background: -webkit-linear-gradient(#fc466b, #3f5efb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    letter-spacing: 3px;
    text-align: center;
}
.pr-1-d{
    color: rgb(137, 135, 135);
}
.btn-learn{
    font-size: 16px;
    width:8rem;
    border: none;
    background: linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1) 89%);
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 1px 1px #8426e8;  
}
.btn-learn:hover{
    transform: scale(1.1);
    color: #8426e8;
    cursor: pointer;
    background-image: none;
}
.frame-2{
    background-color: #d3d3d385;
    border-width: 6px;
    border-style: solid;
    border:double 5px transparent;
    background-image: linear-gradient(white, white),
    linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1));
    background-origin: border-box;
    background-clip: content-box,border-box;
    /* border-image: linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1) 89%)1; */
    width: 16rem;
    height: 18rem;
    margin-left: 45rem;
    margin-top: -8rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #8426e8;  

}
.frame-3{
    background-color: #d3d3d385;
    border-width: 6px;
    border-style: solid;
    border:double 5px transparent;
    background-image: linear-gradient(white, white),
    linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1));
    background-origin: border-box;
    background-clip: content-box,border-box;
    /* border-image: linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1) 89%)1; */
    width: 16rem;
    height: 18rem;
    margin-left: 62rem;
    margin-top: -8rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #8426e8;  

}
.frame-4{
    background-color: #d3d3d385;
    border-width: 6px;
    border-style: solid;
    border:double 5px transparent;
    background-image: linear-gradient(white, white),
    linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1));
    background-origin: border-box;
    background-clip: content-box,border-box;
    /* border-image: linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1) 89%)1; */
    width: 16rem;
    height: 18rem;
    margin-left: 43rem;
    margin-top: -10rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #8426e8;  

}
.emj-1{
    width: 4rem;
    margin-top: 0.5rem;
}
.emj-2{
    width: 4rem;
    
}
.emj-5{
    width: 4rem;
    
}
.cer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    margin-top: 20rem;
    padding-bottom: 5rem;
    position: absolute;
    gap:13.5rem
    

}
.cer1{
    background-color: #d3d3d385;
    border:8px solid;
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    text-align: center;
    border:double 5px transparent;
    background-image: linear-gradient(white, white),
    linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1));
    background-origin: border-box;
    background-clip: content-box,border-box;
}

h2{
    font-size: 35px;
    font-weight: 800;
    padding-top: 2rem;
    background: -webkit-linear-gradient(#fc466b, #3f5efb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    letter-spacing: 3px;
    text-align: center; 
}
.cer1-des{
    font-weight: 700;
    background: -webkit-linear-gradient(#fc466b, #3f5efb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    text-align: center; 
}
.project-section{

}
.Project{
    font-size: 38px;
    text-align: center;
    font-weight:bolder;
    padding-left: 4rem;
    padding-top: 45rem;
    margin-top: 5rem;
    background: -webkit-linear-gradient(#058afb, #8505fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Portfolio1{
    font-size: 38px;
    text-align: center;
    font-weight: 400;
    padding-left: 4rem;
    padding-top: 0.1rem;
    position: relative;
    background: -webkit-linear-gradient(#fc466b, #3f5efb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:0.2vw #4903fa;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.project_image{
    display: flex;
    position: absolute;
}
.project-sec{
    position: absolute;
    justify-content: space-around;
    align-items: center;
    margin: 3.5rem;
    padding-bottom: 2rem;
    column-gap: 5%;
}
.green-fodder{
    width: 19rem;
    border: #8426e8 solid;
    border-radius: 3%;
}
.portfolio-1{
    width: 19rem;
    margin-left: 19.5rem;
    border: #8426e8 solid;
    border-radius: 3%;
}
.calculator{
    width: 19rem;
    height: 9.3rem;
    margin-left: 58.5rem;
    border: #8426e8 solid;
    border-radius: 3%;
}
.weather{
    width: 19rem;
    height: 9.3rem;
    margin-left: 39rem;
    border: #8426e8 solid;
    border-radius: 3%;
}
.contact-bg{
    width: auto;
    height: 27rem;
    position: relative;
    margin-top: 20rem;
    margin-bottom: -15rem;
    padding: 10px;
    /* background: linear-gradient(90deg, rgb(247, 247, 249) 0%, rgb(190, 218, 246) 55%, rgb(189, 226, 241) 89%); */
}
.contact-form-bg{
    background: -webkit-linear-gradient(#a9d7ff5a, #e9d4fd6f);
    box-shadow: 2px 2px 2px 2px rgb(98, 98, 98);
    margin-left: 30%;
    margin-right: 30%;
    border: none;
    border-radius: 5%;
}
.contact-me{
    font-size: 38px;
    text-align: center;
    color:#fff;
    font-weight:bolder;
    padding-left: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    background: -webkit-linear-gradient(#058afb, #8505fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-form{
    align-items: center;
    margin-left: 1rem;
    padding-top: 2rem;
    flex-direction: column;
    gap: 20px;
}
.form-field-1{
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid gray;
}
.btn-signin{
    font-size: 18px;
    width:10rem;
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 2rem, 2rem, 2rem, 2rem;
    border: none;
    background: linear-gradient(90deg, rgba(204,201,255,1) 0%, rgba(135,164,196,1) 55%, rgba(32,184,242,1) 89%);
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px 2px 2px #8426e8; 
    transition: all .3s ease;
}
.btn-signin:hover{
    color: black;
    cursor: pointer;
    background-image: none;
}
.footer{
    width: 100%;
    height: 4rem;
    background: linear-gradient(90deg, rgb(247, 247, 249) 0%, rgb(190, 218, 246) 55%, rgb(189, 226, 241) 89%);
    margin-top: 20rem;
}
.footer-p{
    text-align: center;
    padding:20px;
    font-size:15px;
    font-style: oblique;
}
.footer-sp{
font-size: 13px;
color: #8426e8;
}
/*Respnsive-view*/
@media only screen and (max-width: 600px)
{   
    nav{
        flex-direction: column;
        min-width:fit-content;
        padding-top: 5rem;
        gap: 25px;   
    }
    ul{
        flex-direction: column;
        min-width: fit-content;
        
    }
    .nav-bg{
        background-color: white;        
        min-height: 20vh;
        width: 10rem;
    }
    .menu-h{
        padding-left: 0;
    }
    .socials{
        display: none;
    }
    .social-bg{
        display: none;
    }
    .heading1{
        font-size: 22px;
        color:#fff;
        font-weight: 800;
        padding-left: 2rem;
        padding-top: 6rem;
        position: absolute;
    }
    span:nth-child(2){
        font-size: 23px;
        font-weight: 800;
        padding-left: 2rem;
        padding-top: 9rem;
        position: absolute;
    }
}
